<%=@x%>
<h1>Válasszon a
<%=ProductCategory.find(params[:category]).nev%> kategória típusaiból </h1>
<table cellpadding="6">
  <tr>
    <th>Kép</th>
    <th>Név</th>
    <th>Leírás</th>
    <th>Szélesség</th>
    <th>Magasság</th>
    <th>Oldalszam</th>
    <th>Lapozása</th>
  </tr>
<% @product_types.each do |product_type| %>
  <tr>
    <td><%= product_type.kep %></td>
    <td width ="100">
<%= link_to product_type.nev, teteladatai_order_item_path(product_type.id)%>
    </td>
    <td width ="100"><%= product_type.leiras %></td>
    <td align ="center"><%= product_type.szelesseg %></td>
    <td align ="center"><%= product_type.magassag %></td>
    <td align ="center"><%= product_type.oldalszam %></td>
    <td align ="center">
<%=  if product_type.felfele_nyilo == 0 then "oldalt" else "felfelé" end%>
    </td>
  </tr>
<% end %>
</table>