
<h1>Kosár</h1>

    A megrendelés sorszáma: <%=@order.id %><br /><br />

<table cellpadding="6" border="1">
  <tr>
    <th>sorsz</th>
    <th>tétel neve</th>
    <th>darab</th>
    <th>Ft/db</th>
    <th>tétel ára</th>
    <th>számol</th>
    <th>módosít</th>
    <th>töröl</th>
  </tr>

<% @megr_ar = 0%>
<% @kosar.each do |order_item| %>
<%tetelar = order_item.ar_lezart %>
<%@megr_ar += tetelar %>
  <tr>
    <td></td>
    <td><%=h order_item.nev %></td>
    <td align="right"><%=h order_item.darab %></td>
    <td align="center">30</td>
    <td align="right"><%=h tetelar %></td>
    <td><% link_to 'Show', order_item %></td>
    <td><%= link_to 'Edit', teteladatai_szerkeszt_order_item_path( order_item.id ) %></td>
    <%# link_to 'Destroy', order_item, :confirm => 'Biztosan törlöd ezt a tételt?',
:method => :delete %>
    <td><%= link_to 'Destroy', order_item, :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="4" align="right"><b>Összesen:</b></td>
    <td align="right"><b><%=@megr_ar%></b></td>
    <td colspan="3"></td>
  </tr>
</table>
<br />
<div style="padding-left:  20px;"><%=link_to "Új tétel", product_categories_path %></div>
