<h2>Kosár</h2>
<table cellpadding="6" border="0">
  <tr>
    <td colspan="9" align="right"><b>A megrendelés sorszáma:</b> <%=@order.id%></td>
  </tr>
  <tr>
    <th>sorsz</th>
    <th>tétel neve</th>
    <th>darab</th>
    <th>Ft/db</th>
    <th>tétel ára</th>
    <th>számol</th>
    <th>módosít</th>
    <th>töröl</th>
    <th>item_id</th>
  </tr>
  <% @megr_ar = 0%>
  <% @kosarka.each do |order_item| %>
  <% tetelar = order_item.ar_lezart %>
  <% @megr_ar += tetelar %>
  <tr>
    <td></td>
    <td><%=h order_item.nev %></td>
    <td align="right"><%=h order_item.darab %></td>
    <td align="center">30</td>
    <td align="right"><%=h tetelar %></td>
    <td></td>
    <td><%= link_to 'Módosítás', teteladatai_szerkeszt_order_item_path( :order_item_id => order_item.id  ) %></td>
    <td><%= link_to "Törlés", order_item, :method => :delete %></td>
    <td align="right"><%=order_item.id%></td>
  </tr>
<% end %>
  <tr>
    <td colspan="4" align="right"><b>Összesen:</b></td>
    <td align="right"><b><%=@megr_ar%></b></td>
    <td colspan="4"></td>
  </tr>
  <tr>
    <td colspan="9" align="right"><b><%=link_to "Új tétel", product_categories_path %></b></td>
  </tr>
</table>
