<%=@x%>
<table cellpadding="3" border="0">
  <tr>
    <td valign="top">
<h3>A kiválasztott terméktípus jellemzői:</h3>

<table cellpadding="3" border="0">
<tr>  <td> <b>Terméktípus id:</b></td>    <td> <%=h session[:product_type_id] %> </td>                                           </tr>
<tr>  <td> <b>id:</b> </td>               <td> <%=h @product_type.id %> </td>                                                     </tr>
<tr>  <td> <b>Kép:</b> </td>              <td> <%=h @product_type.kep %> </td>                                                    </tr>
<tr>  <td> <b>Kategóriája: </b> </td>     <td> <%= ProductCategory.find(@product_type.product_category_id).nev %> </td>           </tr>
<tr>  <td> <b>Típusa: </b> </td>          <td> <%= @product_type.nev %> </td>                                                     </tr>
<tr>  <td> <b>Leírasa:</b> </td>          <td> <%=h @product_type.leiras %> </td>                                                 </tr>
<tr>  <td> <b>Szélessége: </b> </td>      <td> <%=h @product_type.szelesseg %> mm</td>                                            </tr>
<tr>  <td> <b>Magassága: </b> </td>       <td> <%=h @product_type.magassag %> mm</td>                                             </tr>
<tr>  <td> <b>Oldalszáma:</b> </td>       <td> <%=h @product_type.oldalszam %> </td>                                              </tr>
<tr>  <td> <b>Lapozás: </b> </td>         <td> <%=  if @product_type.felfele_nyilo == 0 then "oldalt" else "felfelé" end%> </td>  </tr>
</table>
    </td>  
    <td width ="30">
    </td>
    <td  bgcolor="red">
    </td>  
    <td width ="30">
    </td>
    <td valign="top">
<%#*<hr />%>

<h3>Kérjük, adja meg a tétel további adatait</h3>
<% form_for(@order_item) do |f| %>
    <%= f.error_messages %>
<table valign="top">
    <tr>  <td width =" 150"><b><%= f.label "tétel megnevezése:" %></b></td><td>    <%= f.text_field :nev %></td></tr>
    <tr>  <td><b><%= f.label "nyomás:" %></b></td><td>     <%= select :order_item,:print_id, Print.find(:all).collect{|p| [p.nev, p.id]} %></td></tr>
    <tr>  <td><b><%= f.label "papírtípus:" %></b></td><td> <%= select :order_item,:paper_type_id, PaperType.find(:all).collect{|p| [p.nev, p.id]}%></td></tr>
    <tr>  <td><b><%= f.label "darabszám:" %></b></td><td>  <%= f.text_field :darab %></td></tr>
    <tr>  <td><b><%= f.submit "kosárba" %></b></td></tr>
</table>
</td>
  </tr>
</table>
<% end %>