<%=@x%>
<h2>A kiválasztott terméktípus fix jellemzői:</h2>
<table cellpadding="3" border="0">
<tr>  <td> <b>Terméktípus id:</b></td>    <td> <%=h session[:product_type_id] %> </td>                                           </tr>
<tr>  <td> <b>id:</b> </td>               <td> <%=h @product_type.id %> </td>                                                     </tr>
<tr>  <td> <b>Kép:</b> </td>              <td> <%=h @product_type.kep %> </td>                                                    </tr>
<tr>  <td> <b>Kategóriája: </b> </td>     <td> <%= ProductCategory.find(@product_type.product_category_id).nev %> </td>           </tr>
<tr>  <td> <b>Típusa: </b> </td>          <td> <%= @product_type.nev %> </td>                                                     </tr>
<tr>  <td> <b>Leírasa:</b> </td>          <td> <%=h @product_type.leiras %> </td>                                                 </tr>
<tr>  <td> <b>Szélessége: </b> </td>      <td> <%=h @product_type.szelesseg %> mm</td>                                            </tr>
<tr>  <td> <b>Magassága: </b> </td>       <td> <%=h @product_type.magassag %> mm</td>                                             </tr>
<tr>  <td> <b>Oldalszáma:</b> </td>       <td> <%=h @product_type.oldalszam %> </td>                                              </tr>
<tr>  <td> <b>Lapozás: </b> </td>         <td> <%=  if @product_type.felfele_nyilo == 0 then "oldalt" else "felfelé" end%> </td>  </tr>
</table>
<hr />

<h2>Kérjük, adja meg a tétel további adatait</h2>
<% form_for(@order_item) do |f| %>
    <%= f.error_messages %>
    <%= f.label "tétel megnevezése:" %>    <%= f.text_field :nev %>   <%= "a tételre jellemző név (pl: nyári szórólap):" %><br /><br />
    <%= f.label "nyomás:" %>     <%= select :order_item,:print_id, Print.find(:all).collect{|p| [p.nev, p.id]} %><br /><br />
    <%= f.label "papírtípus:" %> <%= select :order_item,:paper_type_id, PaperType.find(:all).collect{|p| [p.nev, p.id]}%><br /><br />
    <%= f.label "darabszám:" %>  <%= f.text_field :darab %><br /><br />
    <%= f.submit "kosárba" %>
<% end %>