<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>P R I N T S H O P</title>
</head>
<body>
  <b>Hol jártam: </b><%=session[:hely]%><br /><br />
  <table cellpadding="">
    <tr><td width="120px">Kategória id: </td><td><%=session[:product_category]%></td></tr>
    <tr><td>Termék type id: </td><td><%=session[:product_type_id]%></td></tr>
    <tr><td>Order item id: </td><td><%=session[:order_item_id]%></td></tr>
    <tr><td>Order id: </td><td><%=session[:order_id]%></td></tr>
  </table>
  <hr />
  <%session[:hely]= []%>
  <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
  <% end %>
     
 <b>F E J L É C</b>
  <hr />
  <%= yield  %>
  <br /><hr />
  <b>L Á B L É C</b>
</body>
</html>