<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>P R I N T S H O P</title>
</head>
<body>
  <table>
    <tr valign ="top">
      <td align="center" valign ="middle" width="20" bgcolor="#444">
        <p style ="color: orange"><b>D E B U G</b></p>
      </td>
        <td width="300" bgcolor="#fbe390">
        <b>Hol jártam: </b><br />
        <%@helyek=session[:hely]%>
        <%@helyek.each do |hely|%>
          <%=hely%><br />
        <% end %><br />
        </td>
      <td align="center" valign ="middle" width="20" bgcolor="#444">
        <p style ="color: orange"><b>D E B U G</b></p>
      </td>
      <td width="300"  bgcolor="#fbe390">
        <b>Mit láttam: </b><br />
        <table>
          <tr><td width="120px">Kategória id: </td> <td align="right"><%=session[:product_category]%></td></tr>
          <tr><td>Termék type id: </td>             <td align="right"><%=session[:product_type_id]%></td></tr>
          <tr><td>Order item id: </td>              <td align="right"><%=session[:order_item_id]%></td></tr>
          <tr><td>Order id: </td>                   <td align="right"><%=session[:order_id]%></td></tr>
        </table>
      </td>
      <td align="center" valign ="middle" width="20" bgcolor="#444">
        <p style ="color: orange"><b>D E B U G</b></p>
      </td>
    </tr>
  </table>
  <hr />
  <%session[:hely]= []%>
  <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
  <% end %>
     
  <p style=" color: red">
    <b>F E J L É C</b>
  </p>
    <hr />  <%= yield  %>  <br /><hr />
  <p style=" color: red">
    <b>L Á B L É C</b>
  </p>
</body>
</html>